{% extends "layout.html" %}

{% block body %}

<h1>Privacy Policy</h1>
<p>Last Updated: 15/11/2023</p>
<p>Your security is important to us. Therefore, the personal data you share with us is treated with utmost care and protection.</p>
<p>As the data controller, webbudy aims to inform you through this privacy and personal data protection policy about:</p>
<ul>
  <li>What personal data of yours will be processed for what purpose,</li>
  <li>How and why the processed data may be shared with whom,</li>
  <li>Our data processing methods and legal reasons, and</li>
  <li>Your rights regarding the processed data.</li>
</ul>

<h2>Collected Personal Data, Collection Method, and Legal Basis</h2>
<p>Your identity (such as name, surname, date of birth), contact information (address, email address, phone, IP, location), personal, social media, financial information, and visual and auditory records will be processed by us through automatic or non-automatic methods, and sometimes obtained from third parties such as analytical providers, advertising networks, search information providers, technology providers. The processing will be based on the legitimate interest processing condition and will occur within the scope and duration of our service and contractual relationship.</p>

<h2>Purpose of Processing Your Personal Data</h2>
<p>Your personal data shared with us will be processed in a manner that is adequate and proportionate to the purpose during the contract and service period. The purposes of processing include establishing contracts with you to enable you to benefit from our services, fulfilling the requirements of the services we provide in the best way and in accordance with our contracts, ensuring the use of your rights arising from these contracts, improving our products and services in line with your needs and informing you about these developments, and also bringing you together with more comprehensive service providers within the legal framework and fulfilling legal obligations (sharing personal data with judicial and administrative authorities upon request).</p>

<h2>Recipients and Purposes of Transferring Personal Data</h2>
<p>Your personal data shared with us may be transferred to third parties, both domestically and internationally, such as the entities and organizations with whom we have contractual relationships, cooperate, and collaborate to carry out our activities. This transfer will be subject to the condition that necessary technical and administrative measures are taken.</p>

<h2>Your Rights as the Data Subject Whose Personal Data is Processed</h2>
<p>According to Article 11 of the Personal Data Protection Law (KVKK), everyone can use the following rights by applying to the data controller:</p>
<ol type="a">
  <li>Learn whether personal data is being processed,</li>
  <li>Request information if personal data has been processed,</li>
  <li>Learn the purpose of processing personal data and whether they are used in line with this purpose,</li>
  <li>Know the third parties to whom personal data is transferred, whether domestically or abroad,</li>
  <li>Request correction of personal data if it is incomplete or incorrect,</li>
  <li>Request the deletion or destruction of personal data,</li>
  <li>Request notification of third parties to whom personal data has been disclosed, in case of correction, deletion, or destruction of personal data,</li>
  <li>Object to the emergence of a result against the person by objecting to the processing of personal data exclusively through automated systems,</li>
  <li>If personal data is processed unlawfully and causes damage, request the compensation of the damage.</li>
</ol>
<p>You can contact us via webbudytemp@gmail.com to exercise the rights mentioned above.</p>

<h2>Contact</h2>
<p>You are completely free to accept or reject the processing of only the necessary personal data in accordance with this privacy and personal data processing policy to provide services according to your requests. By continuing to use the site, it will be assumed that you have accepted these terms. For more detailed information, please feel free to contact us via the email address webbudytemp@gmail.com.</p>


{% endblock body %}